[Unit]
Description=IronClad IIoT Gateway Service
After=network.target
Wants=network.target
StartLimitIntervalSec=40
StartLimitBurst=5
OnFailure=ironclad-recovery.service

[Service]
#This notify waits for my python script to load first and signal daemon.notify('READY=1') TO activate  
Type=notify

ExecStart=/usr/bin/python3 /opt/iiot_edge/telemetry.py

#if the service does not recieve a notification within 60 seconds from telemetry.py daemon.notify('WATCHDOG=1'), it is considered a zombie  and will be restarted
WatchdogSec=60

Restart=on-failure
RestartSec=4

#-10 ensures CPU gives priority to this service during any heavy load on the CPU
Nice=-10

[Install]
WantedBy=multi-user.target
